@import 'tailwindcss';
@import '@repo/ui/theme.css';

@source '../node_modules/@repo/ui';

@layer base {
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	/* Tauri WebView doesn't seem to paint the native resizer icon, so we mimic it with a gradient */
	*::-webkit-resizer {
		background: linear-gradient(
			-45deg,
			transparent 15%,
			var(--color-base-400) 15%,
			var(--color-base-400) 20%,
			transparent 20%,
			transparent 33%,
			var(--color-base-400) 33%,
			var(--color-base-400) 38%,
			transparent 38%
		);
	}
}
